<div class="container">

    <div id="login" *ngIf="login; else register" 
         [class]="{'login-card-error': (logControl.email.touched && logControl.email.errors)
                                    || (logControl.password.touched && logControl.password.errors), 
                    'card': true}" >
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label class="label" for="email">Email</label>
                <input
                    formControlName="email"
                    class="input" type="email" placeholder="Enter your email">
                <div *ngIf="logControl.email.touched && logControl.email.errors">
                    <div *ngIf="logControl.email.errors.required">
                        <span class="required">Email is a required field</span>
                    </div>
                    <div *ngIf="logControl.email.errors.email">
                        <span class="required">Should be a valid email address</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="label" for="username">Password</label>
                <input
                    formControlName="password" 
                    class="input" type="password" placeholder="Enter password">
                <div *ngIf="logControl.password.touched && logControl.password.errors">
                    <div *ngIf="logControl.password.errors.required">
                        <span class="required">Email is a required field</span>
                    </div>
                    <div *ngIf="logControl.password.errors.minlength">
                        <span class="required">Should be atleast 6 characters long</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="button login-button">
                    <span>Login</span>
                    <mat-icon class="right-arrow">east</mat-icon>
                </button>
            </div>
            <div class="auth-separator">
                <span>or</span>
            </div>
            <div class="oauth">
                <button class="button oauth-button">
                    <mat-icon class="gmail">gmail</mat-icon>
                    <span class="gmail-text">Continue with Google</span>
                </button>
                <button class="button oauth-button">
                    <mat-icon class="fb">facebook</mat-icon>
                    <span class="fb-text">Continue with Facebook</span>
                </button>
            </div>
            <div class="login-or-register">
                Don't have an account? 
                <span class="login-register-link" (click)="goToRegister()">Register here!</span>
            </div>
        </form>
    </div>
    
    <ng-template #register>
        <div [class]="{'register-card-error': (regControl.username.touched && regControl.username.errors)
                                            || (regControl.email.touched && regControl.email.errors)
                                            || (regControl.password.touched && regControl.password.errors), 
                        'register-card': true, 'card': true}">
            <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class="form-group">
                    <label class="label" for="username">Username</label>
                    <input 
                        formControlName="username"
                        class="input" type="text" placeholder="Enter your name">
                    <div *ngIf="regControl.username.touched && regControl.username.errors">
                        <span class="required">Username is a required field</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label" for="email">Email</label>
                    <input 
                        formControlName="email"
                        class="input" type="email" placeholder="Enter your email">
                    <div *ngIf="regControl.email.touched && regControl.email.errors">
                        <div *ngIf="regControl.email.errors.required">
                            <span class="required">Email is a required field</span>
                        </div>
                        <div *ngIf="regControl.email.errors.email">
                            <span class="required">Should be a valid email address</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label" for="username">Password</label>
                    <input
                        formControlName="password"
                        class="input" type="password" placeholder="Enter password">
                    <div *ngIf="regControl.password.touched && regControl.password.errors">
                        <div *ngIf="regControl.password.errors.required">
                            <span class="required">Password is a required field</span>
                        </div>
                        <div *ngIf="regControl.password.errors.minlength">
                            <span class="required">Should be a atleast 6 characters long</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="button login-button">
                        <span>Register</span>
                        <mat-icon class="right-arrow">east</mat-icon>
                    </button>
                </div>
                <div class="auth-separator">
                    <span>or</span>
                </div>
                <div class="oauth">
                    <button class="button oauth-button">
                        <mat-icon class="gmail">gmail</mat-icon>
                        <span class="gmail-text">Join with Google</span>
                    </button>
                    <button class="button oauth-button">
                        <mat-icon class="fb">facebook</mat-icon>
                        <span class="fb-text">Join with Facebook</span>
                    </button>
                </div>
                <div class="login-or-register">
                    Already have an account? 
                    <span class="login-register-link" (click)="goToLogin()">Login here!</span>
                </div>
            </form>
        </div>
    </ng-template>

</div>
